<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @digest_reference.user %>
</p>

<%= link_to 'Edit', edit_digest_reference_path(@digest_reference) %> |
<%= link_to 'Back', digest_references_path %>
